In [1]:
import pandas as pd
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kamal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [3]:
fake = pd.read_csv('fake.csv')
genuine = pd.read_csv('true.csv')

In [4]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
genuine

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [6]:
fake['genuinity'] = 0
genuine['genuinity'] = 1

In [7]:
data = pd.concat([fake,genuine],axis = 0)
data

,title,text,subject,date,genuinity
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [8]:
data = data.reset_index(drop=True)
data

,title,text,subject,date,genuinity
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [9]:
data= data.drop(['title','date','subject'], axis = 1)
data

                                                    text  genuinity
0      Donald Trump just couldn t wish all Americans ...          0
1      House Intelligence Committee Chairman Devin Nu...          0
2      On Friday, it was revealed that former Milwauk...          0
3      On Christmas day, Donald Trump announced that ...          0
4      Pope Francis used his annual Christmas Day mes...          0
...                                                  ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...          1
44894  LONDON (Reuters) - LexisNexis, a provider of l...          1
44895  MINSK (Reuters) - In the shadow of disused Sov...          1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...          1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...          1

[44898 rows x 2 columns]

# preprocessing

In [10]:
#tokenization
from nltk.tokenize import word_tokenize
data['text'] = data['text'].apply(word_tokenize)

In [11]:
data

                                                    text  genuinity
0      [Donald, Trump, just, couldn, t, wish, all, Am...          0
1      [House, Intelligence, Committee, Chairman, Dev...          0
2      [On, Friday, ,, it, was, revealed, that, forme...          0
3      [On, Christmas, day, ,, Donald, Trump, announc...          0
4      [Pope, Francis, used, his, annual, Christmas, ...          0
...                                                  ...        ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...          1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...          1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...          1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...          1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...          1

[44898 rows x 2 columns]

In [12]:
#stemming
from nltk.stem.snowball import SnowballStemmer
ss = SnowballStemmer('english')

In [13]:
def stemmer(text):
    return [ss.stem(word) for word in text]

In [14]:
data['text'] = data['text'].apply(stemmer)

In [15]:
data

                                                    text  genuinity
0      [donald, trump, just, couldn, t, wish, all, am...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [on, friday, ,, it, was, reveal, that, former,...          0
3      [on, christma, day, ,, donald, trump, announc,...          0
4      [pope, franci, use, his, annual, christma, day...          0
...                                                  ...        ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...          1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...          1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...          1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...          1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...          1

[44898 rows x 2 columns]

In [16]:
#stopword removal

def stopword_rem(text):
    return[word for word in text if len(word)>>2]
data['text'] = data['text'].apply(stopword_rem)

In [17]:
data

                                                    text  genuinity
0      [donald, trump, just, couldn, wish, american, ...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [friday, reveal, that, former, milwauke, sheri...          0
3      [christma, donald, trump, announc, that, would...          0
4      [pope, franci, annual, christma, messag, rebuk...          0
...                                                  ...        ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...          1
44894  [london, reuter, lexisnexi, provid, legal, reg...          1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...          1
44896  [moscow, reuter, vatican, secretari, state, ca...          1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...          1

[44898 rows x 2 columns]

In [18]:
data['text'] = data['text'].apply(' '.join)

In [19]:
data

                                                    text  genuinity
0      donald trump just couldn wish american happi y...          0
1      hous intellig committe chairman devin nune hav...          0
2      friday reveal that former milwauke sheriff dav...          0
3      christma donald trump announc that would back ...          0
4      pope franci annual christma messag rebuk donal...          0
...                                                  ...        ...
44893  brussel reuter nato alli tuesday welcom presid...          1
44894  london reuter lexisnexi provid legal regulator...          1
44895  minsk reuter shadow disus soviet-era factori m...          1
44896  moscow reuter vatican secretari state cardin p...          1
44897  jakarta reuter indonesia will sukhoi fighter w...          1

[44898 rows x 2 columns]

In [21]:
#splitting the data set into test and train

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data['text'], data['genuinity'],test_size = 0.30)

### vectorisation

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf =  TfidfVectorizer(max_df =0.7)

tfidf_train = tfidf.fit_transform(X_train)
tfidf_test = tfidf.transform(X_test)

In [25]:
from sklearn.linear_model import LogisticRegression as LR
model1 = LR(max_iter =900)
model1.fit(tfidf_train, y_train)

LogisticRegression(max_iter=900)

In [26]:
pred1 = model1.predict(tfidf_test)

In [29]:
from sklearn.metrics import accuracy_score
cr1 = accuracy_score(y_test,pred1)
cr1

0.9878247958426132

In [30]:
from sklearn.linear_model import PassiveAggressiveClassifier
model2 = PassiveAggressiveClassifier(max_iter =100)
model2.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=100)

In [31]:
pred2 = model2.predict(tfidf_test)

In [32]:
cr2 = accuracy_score(y_test, pred2)
cr2

0.9965850037119525